
.addTerminalItemCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
    width: 90%;
    aspect-ratio: 1/2;
    background-color: var(--card-background);
}

.terminalAddinput{
    height: 5%;
}

.close{
    background-color: red;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1.6em;
   
}

.buttons{
    display: flex;
    height: auto;
    gap: 30px;
}

.editTermial{
    font-size: 1.3em;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.authType{
    height: 20px;
}

.radios{
    gap: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authTypeInput{
    height: 40px;
}
